body {
  background-color: #141414;
  color: white;
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
}

h1 {
  margin: 0;
  font-size: 3vw;
  line-height: 1.2;
}

/* -----------------TOP LOGO TEXT THING ------------------*/

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
}

.header-logo img {
  width: auto;
  height: 30px;

  margin-top: 15px;
}

/* ----------------- AFX LOGO ON RIGHT ------------------*/

.logosvg {
  width: 40%;
  height: auto;

  /* Inverts black logo to white */
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.logoBIGcontainer {
  display: flex;
  align-items: center;
  justify-content: right;

  margin-right: 120px;
  margin-top: 40px;
}

/* ----------------- TEXT ON LEFT ------------------*/

.textBIGcontainer {
  width: auto;
}
