/* General body styling, but no flexbox here */
body {
  background-color: #0c0c0c;
  color: white;
  margin: 0;
  padding: 0;
  font-family: "Fira Code", monospace;
}

* {
  color: white;
}

html {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrolling */
}

.fira-code-light {
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

/* ----------------- TOP SMALL LOGO IN THE HEADER ------------------ */
.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.header-logo img {
  width: auto;
  height: 30px;
}

/* ----------------- MAIN CONTENT (TEXT + BIG LOGO) ------------------ */

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 100vh;
  width: 100vw;

  gap: 80px;
}

/* ----------------- TEXT ON LEFT ------------------ */

.textBIGcontainer h1 {
  width: 30vw;
  margin: 0;

  /* font-size: 3vw; */
  line-height: 1.2;

  font-weight: 380;
}

.line1 {
  font-size: 3vw;
}

.line2 {
  text-indent: 14vw; /* Moves "VISUAL" to the right */
  font-size: 3vw;
}

.line3 {
  font-size: 3vw;
  text-indent: 3.5vw;
}

.line4 {
  font-size: 1.2vw;
  text-indent: 20vw;

  opacity: 0;
  animation: flicker 5s ease-in-out infinite;
  animation-delay: 3000ms;
}

/* ----------------- AFX LOGO ON RIGHT ------------------ */
.logoBIGcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logosvg {
  width: 30vw;
  height: auto;

  /* Inverts black logo to white */
  -webkit-filter: invert(100%);
  filter: invert(100%);

  transition: 1s ease-out;
  /* transform: translateX(-50%); */

  margin-right: -30px;
  margin-left: -50px;
}

@keyframes flicker {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

button {
  background-color: #0c0c0c;
  /* border: none; */
  cursor: pointer;
}

#fadeout {
  opacity: 1;
  transition: 1s opacity;

  transition: transform 1.5s ease, opacity 1.5s ease;
  transform-origin: center;
}

@keyframes logoAnimation {
  0% {
    /* transform: scale(1) translateY(0); */
    /* transform: scale(0) skewX(0) skewY(0) rotateX(0) rotateY(0) rotateZ(0) translateX(0) translateY(0);
    transform: translateX(0); */
    transform: scale(1) translateX(0) translateY(0);

    opacity: 1;
  }

  100% {
    /* transform: scale(1.5) translateY(-50%); */
    /* transform: scale(2.7) skewX(-25deg) skewY(10deg) rotateX(45deg) rotateY(-20deg) rotateZ(5deg) translateX(-60%) translateY(-3%); */
    transform: scale(2.5) translateX(-45%) translateY(0%);
    opacity: 1;
  }
}

.logoAnimation {
  animation: logoAnimation 1s ease-in-out forwards;
  /* animation-delay: 1s; */
}

/* -------------TRACKS-=------------ */

.tracks ul {
  list-style: none;
  text-decoration: none;
  margin-left: -40px;
  font-size: 15px;
  line-height: 30px;
}

.logoandtracks {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@keyframes textAnimations {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.textAnimations {
  animation: textAnimations 1s ease-in-out forwards;
  animation-delay: 0.5s;
}

/* -----ALL TRACKS LOL SO SCUFFED---------*/
.Fingerbib {
  text-indent: 0px;
  font-size: 22px;
}

.Vordhosbn,
.Xtal {
  text-indent: -8px;
  font-size: 15px;
}

.four,
.Acid04 {
  text-indent: -15px;
  font-size: 10px;
}
